html {
    max-width: 100%;
    overflow-x: hidden;
}

::selection {
    background: rgb(221, 255, 176); /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: rgb(221, 255, 176); /* Gecko Browsers */
}

/* bungee-regular - latin */
@font-face {
    font-family: 'Bungee';
    font-style: normal;
    src: url('Fonts/bungee-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Fonts/bungee-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fonts/bungee-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Fonts/bungee-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('Fonts/bungee-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Fonts/bungee-v11-latin-regular.svg#Bungee') format('svg'); /* Legacy iOS */
}

/* bungee-shade-regular - latin */
@font-face {
    font-family: 'Bungee Shade';
    font-style: normal;
    src: url('Fonts/bungee-shade-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Fonts/bungee-shade-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fonts/bungee-shade-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Fonts/bungee-shade-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('Fonts/bungee-shade-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Fonts/bungee-shade-v11-latin-regular.svg#BungeeShade') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Zilla Slab', sans-serif;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: whitesmoke;
    margin: 0;
    transition: 0.7s;
}

canvas {
    /* background-color:#5896ec; */
    background-color: rgba(0, 0, 0, 0);
    height: 3rem;
}

.container {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
  
/* Left side. */
.left {
    left: 0;
    display: flex;
    height: 100%;
    width: 0%;

    padding-top: 30vh;
    padding-bottom: 5rem;
    background-image: url('pattern.png');

    /* Alternate Background Colors. */
    /*background-color: #ff4040;*/
    /*background-color: #0004ff;*/
    /*background-color: black;*/
    /*background-color: #c9cf86;*/
    /*background-color: #766d7a;*/
    /*background-color: #f59642;
    /*background-color: #5896ec;*/

    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    will-change: transform;
    
    color: black;
    overflow-y: scroll;
    display: block;
    transform: '';
}

.left-text {
    text-align: center;
    font-size: 9vw;
    font-family: 'Bungee Shade', sans-serif;
    line-height: 1;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Right side. */
.right {
    right: 0;
    width: 100%;
    padding: 2em;
    background-color: whitesmoke;
    overflow-y: scroll;
    z-index: 1;
    transition: '';
    background-size: 40em;
}

/* Hide scrollbar for Chrome, Safari and Opera. */
.left::-webkit-scrollbar, .right::-webkit-scrollbar {
    display: none;
}

h1 {
    /* font-family: 'Bungee', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: black;
    padding-top: 5vh;
    padding-bottom: 1vh;
    font-size: 3.5rem;
}

h2 {
    /* font-family: 'Bungee', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    padding: 0.2rem;
    display: inline-block;
    position: relative;
}

h2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.4rem;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h3 {
    /* font-family: 'Bungee', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
}

h3 span video {
    width: 50vw;
    max-height: 35vw;
}
 
h3 span {
    display: none;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

h3:hover span {
    background-color: black;
    display: block;
    position: absolute;
    z-index: 1;
    border: 0.6rem solid black;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

hr {
    border: 2px solid black;
}

p {
    padding: 0.5rem;
}

/* Email, Resume, GitHub, LinkedIn and Hobbies Icons. */
img.largeIcon {
    width: 4.5rem;
    padding: 0.5rem;
}

a:link, a:active, a:hover, a:visited {
    /* font-family: 'Bungee', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}

/* Image links get hover effect. */
a img:hover, .blurOnHover:hover {
    transition: 0.4s;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    cursor: pointer;
}

/* Icons that are inverted get blur hover effect. */
.invertedLink:hover {
    /* The following filters approximate the "whitesmoke" color. */
    transition: 0.4s;
    -webkit-filter: blur(1px) invert(100%) sepia(3%) saturate(77%) hue-rotate(355deg) brightness(111%) contrast(92%);
    filter: blur(1px) invert(100%) sepia(3%) saturate(77%) hue-rotate(355deg) brightness(111%) contrast(92%);
    cursor: pointer;
}

/* Elements to remove on various screen sizes. */
.removeOnSmall, .removeOnMedium, .removeOnLarge {
    display: none;
}

/* Alt header appears on smaller screen sizes/ */
div.altHeader {
    /* font-family: 'Bungee', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15vw;
    line-height: 1;
    display: block;
}

/* Email, Resume, GitHub, LinkedIn and Hobbies Icons. */
div.iconStack {
    display: flex;
    flex-wrap: wrap;
}

/* Project Header with Icons. */
div.projectHeader {
    display: block;
}

/* Project Icons. */
img.projectIcon {
    width: 3.5rem;
    max-height: 2.5rem;
    padding-left: 1rem;
}

/* For images that should be inverted. */
.invert {
    /* The following filters approximate the "whitesmoke" color. */
    -webkit-filter: invert(100%) sepia(3%) saturate(77%) hue-rotate(355deg) brightness(111%) contrast(92%);
    filter: invert(100%) sepia(3%) saturate(77%) hue-rotate(355deg) brightness(111%) contrast(92%);
}

/* For elements that should be centered. */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For elements whose text should be centered. */
.text-center {
    text-align: center;
}

/* Elements to be hidden. */
.hidden {
    display: none;
}

/* Reformat website for smaller screen sizes */
@media only screen and (min-width: 550px) {
    .left {
        width: 40%;
        transition: width 2s;
    }
    .right {
        width: 60%;
        background: whitesmoke;
        transition: width 2s;
    }
    h1 {
        font-size: 3.5rem;
        padding-top: 30vh;
        color: inherit;
    }
    div.altHeader {
        display: none;
    }
    img.mainFrame {
        padding-top: 35vh;
        width: 75%;
    }
    /* Elements that act as links, but aren't. */
    .link {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
    .link:hover {
        font-style: italic;
        cursor: pointer;
    }
    .removeOnSmall {
        display: inline;
    }
}

@media only screen and (min-width: 650px) {
    .removeOnMedium {
        display: inline;
    }
    div.iconStack {
        display: block;
    }
}

/* Shift Project Icons underneath Project Headers. */
@media only screen and (min-width: 950px) {
    div.projectHeader {
        display: flex;
    }
    .left-content {
        width: 85%;
    }
    .removeOnLarge {
        display: inline;
    }
    .addOnLarge {
        display: none;
    }
}